h1(class="title") Productos
p(class="text") ¿Quieres agregar un nuevo producto?, da click 
a(href="/" class="link") Aquí
if products.length > 0
form(action="/productos" method="get" class="search") 
    p(class="search__text") Buscar por nombre:
    section(class="search__container")
    input(type="search" name="search" id="search" class="search__box" placeholder="Buscar...")
    input(type="submit", value="🔍", class="search__submit")
table(class="table")
    thead
    tr(class="table__header")
        th Nombre
        th Precio
        th Foto
    tbody
    if notFound
        tr(class="table__main table__main--notFound")
        td No se encontró este producto.
    else 
        each product in search
        tr(class="table__main")
            td=product.nombre
            td=product.precio
            td
            picture(class="table__main-img")
                img(src=product.foto alt=product.nombre)
else
h3(class="table__none") No hay productos