<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con EJS</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <header>Tarea de la clase 10 de Backend</header>
    <main>
        <%- include(`layouts/main.ejs`) %>
    </main>
    <footer></footer>
</body>

</html>